
@{
    ViewBag.Title = "ViewTeamPlayers";
}

<h1>Players on team</h1>
<br />
<div>
    @foreach (var player in Model)
    {
        <div class="form-group">
            <div>
                <label style="font-size: 20px">@player.FirstName @player.LastName</label>
                <label>&nbsp;&nbsp;Phone Number:  @player.PhoneNumber</label>
                <label>&nbsp;&nbsp;e-mail:  @player.EMail</label>
                <label>&nbsp;&nbsp;Jersey Number:  @player.JerseyNumber</label>
            </div>
            <div>
                <label>Position Requested:  @player.PositionRequested</label>
                <label>&nbsp;&nbsp;Team Requested:  @player.TeamRequested</label>
            </div>
            <div>

                <label>Note:  @player.Note</label>
            </div>
        </div>
        <div style="clear: both;"></div>
    }
</div>
<br />

<form action="~/Player/PlayerIndex">
    <button class="btn btn-primary">Back</button>
</form>